<app-subheader></app-subheader>
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5 align-items-center align-middle " style="height: 600px">

            <div class="row align-items-center h-100">
                <div class="col">
                    <h1 class="font-weight-light text-center ">Borrando reseña</h1>
                    <p class="lead text-center">Espere ...</p>
                </div>

            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>

<app-messages *ngIf="mensaje" 
[title]="'Oops!'"
[message]="mensaje"
[ruta]="'/crud/login'"></app-messages>
